@CHARSET "UTF-8";

#printable-facture *{
	font-family: Arial,Verdana,sans-serif;
	font-size: 12px;
	width: 400px;
	margin:auto;
	font-size: 12px;
}

#printable-facture table {
	border-collapse: collapse;
}

#printable-facture table th{	
	font-weight: bold;
	border: 2px dashed solid;
}

#printable-facture table tr, #printable-facture table td {
	border: 1px solid black;
}

#all-facture-data{
	widht: 600px;
	font-size: 10px;
}

#bon-header,#identification-client,#identification-pharmacie, #produits-fournis,#facturation-total,#signature, #bon-footer {
	margin : 15px;
}
#identification-client {
	border:2px solid black;
	padding : 5px;
}
.right{
	display:inline-block;
	width: 48%;
	vertical-align: top;
	text-align: right;
	margin-right: 5px;
}

.left{
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

#identification-pharmacie span{
	display:inline-block;
	padding-left: 14px;
	padding-right: 14px;
}

#produits-fournis table, #facturation-total table {
	border-collapse: collapse;
	font-size: 11px;
	
}
#produits-fournis tr, #produits-fournis td, #produits-fournis th, #facturation-total td, #facturation-total th, #facturation-total tr{
	border: 1px solid black;
	padding: 3px;
}
.center{
	margin:auto;
	text-align:center;
}

#bon-footer ul {
	padding-top: -4px;
	padding-bottom: 0px;
	padding-left: 6px;	
}

#bon-footer li{
	list-style: none;
	padding-top: -4px;
	font-size: 0.6em;
}